body {
  background: antiquewhite;
  margin: 0px;
}

.main-container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  margin-top: 5vh;
}

.book-list,
.book-form {
  box-shadow: 4px 4px 10px 0 rgba(10, 10, 20, 0.05);
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 15px;
}

.book-list {
  height: 50vh;
}

.p-box {
  width: 120px;
  background: #183055;
  margin-right: 10px;
}

.entry {
  display: flex;
  margin-bottom: 1rem;
}

.entry-details-mid,
.entry-details-last {
  flex: 1;
}

.book-name {
  font-family: "Oswald", sans-serif;
  margin-bottom: 4px;
}

.isbn {
  margin-bottom: 0px;
}

.book-rating {
  margin-bottom: 4px;
}

.book-price {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Merriweather", serif;
}

.writer-name {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.5;
  color: darkcyan;
}

/*Form css*/
.pt-one {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.pt-one .form-group:first-child {
  margin-right: 3%;
  margin-bottom: 3%;
}

input {
  border: 1px solid lightgrey;
  padding: 5px;
  font-family: "Oswald", sans-serif;
}
label {
  font-family: "Oswald", sans-serif;
  margin-bottom: 2px;
}

.btn-primary {
  background: black;
  color: white;
  font-weight: 600;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.alertBox {
  background: #68b0ab;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
